// =keyframes($name)
//   @keyframes #{$name}
//     @content

+keyframes(changewidth)
  0%
    transform: scale(1)

  100%
    transform: scale(0.5)


#logo
  #p1, #p2
    transform-origin: center

  #p1
    transition: transform 0.3s $material-bezier, fill 0.3s $material-bezier

  #p2
    transition: transform 0.3s $material-bezier 0.2s, fill 0.3s $material-bezier

  &:hover
    %e
      transform: scale(0.75)
      fill: lighten($brand-cta, 15%)

    #p1, #p2
      @extend %e

    #p2
      fill: lighten($brand-cta, 30%)

  //   #p2, #p1
  //     transform-origin: center
  //     animation-duration: .5s
  //     animation-name: changewidth
  //     animation-iteration-count: infinite
  //     animation-direction: alternate
  //     animation-timing-function: $material-bezier
  //   #p1
  //     animation-delay: .5s

  // // #p1
  // //   transition: transform .3s $material-bezier
  // // #p2
  // //   transition: transform .3s $material-bezier .3s
  // // &:hover
  //   #p1
  //     transform: scale(1.1)
  //   #p2
  //     transform: scale(1.1)
